--extra-index-url https://download.pytorch.org/whl/cu128
torch>=2.7.0
--extra-index-url https://download.pytorch.org/whl/cu128
torchvision

numpy<2
scikit-learn
scipy
matplotlib
accelerate
timm

tensorboard
torch-tb-profiler

tabulate
tqdm

yacs
